@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(header.css);
@import url(footer.css);
body {
    font-family: 'Lora', serif;
    margin-top: 9vw;
    padding: 0;
    margin-left: 0vw;
    background-color: #ffeb99;
    z-index: 1;
}
main div {
    display: block;
}
main p {
    font-size: 2.5vw;
}
.picture {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
/*---conserning info pages---*/
}
.info .left {
    width: 48%;
    float: left;
}
.info .right{
    width: 48%;
    float: right;
}
.info {
    position: inline-block;
    width:100%;
    height:40vw;
}
/*------*/

main {
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 1.5vw;
}
.firstword {
    font-weight: 900;
    font-size: 2.5vw;
}
.pageTitle {
    margin-bottom: 0;
    margin-top: 0;
}
.setboxbox{
    display: block;
}
.boxes {
    background-color: #ffeb99;
    text-align: center;
    display: table;
    margin: auto;
}
.setbox {
    width: 30vw;
    height: 20vw;
    float: right;
    display: table-cell;
    border: dotted #ff8c1a .1vw;
    text-align: center;
    margin-right: 1.5vw;
    margin-bottom: 1.5vw;
    text-decoration: none;
    color: black;
    background-color: #ffa64d;
    opacity:.85;
    border-radius:2vw;
}
.setbox:first-child {
    margin-right: 0vw;
}
.setbox h2{
    font-size: 2.2vw;
    margin-top:0vw;
    padding-top:.4vw;
    padding-bottom:.4vw;
    background-color: #ff8c1a;
    overflow: hide;
    border-radius: 2vw;
}
.setbox p {
    margin-top: 1vw;
    text-align: left;
    font-size: 3vw;
    padding-left: 1vw;
}
.setbox:hover {
    background-color: #ffad33;
}

@media screen and (max-device-width: 480px) {
    main {
        font-size: 3vw;
    }
}
hr {
    border: 0;
    background-color: black;
    color: black;
    height: 4px;
    display: block;
}
