footer {
    position: absolute;
    bottom: 0vw;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #595959;
    margin-top: 5vw;
    height: 5vw;
    overflow:hidden;
}
.button {
    display: inline-block;
    font-size: 1.2vw;
    width: 10vw;
    text-align: center;
    text-decoration: none;
    padding: .25vw;
    color: black;
    font-weight: 300; 
    background-color: #CEDEFF;
    border-radius: 7px;
    border: black solid 1px;
}
.bold {
    font-weight: 900;
    color: #001A3E;
}
@media screen and (max-device-width: 420px) {
    footer {
        display: none;
    }
}
