@import url(https://fonts.googleapis.com/css?family=Lora:300,400);
header {
    display: table;
    width: 100vw;
    height: 6vw;
    font-family: 'Lora', serif;
    position: fixed;
    left: 0;
    right: 0;
    margin-top: -9vw;
    z-index: 10;

}

header div, header h1 {
    display: table-cell;
    vertical-align: middle;
    
}
header h1 {
    font-size: 3.3vw;
    padding-right: 25vw;
    font-family: Lato sans-serif;
}

header div#navb {
    display: none;
}
header div#navb img {
    height: 6vw;
}
header div#close img {
    height: 6vw;
    color: #AAA;
}
nav#mainNav {
    display: block;
    width:100%;
    list-style-type: none;
    margin-top: 0vw;
    position: fixed;
    top: 0vw;
    border-left-color: #333;
    -webkit-transform: translateZ(0)
}
nav#mainNav span {
    display: block;
    text-align: center,bottom;
    width: 14.28%;
    float: left;
    background-color: #595959;
    opacity: 0.95;
    padding: 0vw;
    border-width: 0vw;
    border-color: white;
    border-bottom-style: solid;
    border-style: solid;
}
nav#mainNav span#other {
    height: 3.8vw;
    padding-bottom: .2vw;
}
nav#mainNav span#other div#dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 14.28%;
    height: auto;
}
nav#mainNav span#other div#dropdown a#content {
    vertical-align: middle;
    width: 100%;
    font-size: 2vw;
    color: black;
    background-color: transparent;
    display: table;
    float: top;
}
nav#mainNav span#other div#dropdown a#content:hover {
    background-color: #009933;
}
nav#mainNav span#other div#button:hover div#dropdown {
    display: block;
}
nav#mainNav span#logo{
    height: 5vw;
    border-width: 0vw;
    border-color: white;
    border-bottom-style: solid;
    border-bottom-left-radius: .7vw;
    border-bottom-right-radius: .7vw;
    padding: 0vw;
}
nav#mainNav span img {
    width: 90%;
    height: auto;
    padding: 5%;
}
nav#mainNav span:hover {
    background-color: #1a53ff;
    opacity: 1;
}
nav#mainNav span#other div#button {
    display: block;
    width: 100%;
    color: #FFF;
    font-size: 3vw;
    text-decoration: none;
    text-align: center;
    height: 100%;
}
nav#mainNav span#close {
    display: none;
}
nav#mainNav.mobileNav {
    display: table;
    width: 100vw;
    height: 50vw;
    margin: 0;
    position: absolute;
    top: 11vw;
    background-color: rgba(0,0,0,.8);
}
nav#mainNav.mobileNav span {
    display: table-row;
    width: 100vw;
}
nav#mainNav.mobileNav span a {
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    font-size: 8vw;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border-bottom-style: solid;
}
.hide {
    display: none !important;
}
@media screen and (max-device-width: 480px) {
    div#logo {
        display: none;
    }
    header div#navb {
        display: table-cell;
        cursor: pointer;
    }
    nav#mainNav {
        display: none;
    }

}
